* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.header {
  min-height: 75px;
  background-color: #222222;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  padding: 18px 0 0;
}
.header__left_part,
.header__right_part {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: flex-end;
}
.header__right_part {
  margin: 0 8px 0 0;
}
.header__logo_img {
  width: auto;
  min-height: 38px;
  box-sizing: border-box;
}
.header__logo:hover .header__logo_img {
  width: 42px;
  min-height: 36px;
  box-sizing: border-box;
  padding: 1px;
}
.header__profile_btn,
.header__basket_btn {
  margin: 0 0 0 33px;
}
.header__search_icon,
.header__menu_icon,
.header__basket_icon,
.header__profile_icon {
  fill: #ffffff;
}
.header__search_icon:hover,
.header__menu_icon:hover,
.header__basket_icon:hover,
.header__profile_icon:hover {
  fill: #f16d7f;
}
.header__search_icon:active,
.header__menu_icon:active,
.header__basket_icon:active,
.header__profile_icon:active {
  fill: #ffffff;
}
.header__search_form {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  margin: 0 0 0 41px;
}
.header__search_label {
  display: block;
}
.header__search_input {
  width: 0;
  height: 0;
  box-sizing: border-box;
  min-height: 0;
  padding: 5px;
  margin: 0 0 0 24px;
  outline: none;
  border: none;
  text-transform: capitalize;
  background-color: transparent;
  color: #ffffff;
}
.header__search_input:focus {
  width: 250px;
  min-height: 28px;
  box-sizing: border-box;
  transition: width 1s ease;
  border: 2px solid #ffffff;
}
.header__search_input::-webkit-search-decoration,
.header__search_input::-webkit-search-cancel-button,
.header__search_input::-webkit-search-results-button,
.header__search_input::-webkit-search-results-decoration,
.header__search_input::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}
.header #header__menu_switch {
  display: none;
}
.header #header__menu_switch:checked ~ .header__menu_container {
  display: block;
}
.header__menu_container {
  display: none;
  position: absolute;
  justify-content: left;
  top: 76px;
  width: 100%;
  max-width: 232px;
  min-height: 764px;
  box-sizing: border-box;
  margin: 0 0 0 166px;
  padding: 16px 16px 16px 32px;
  z-index: 999;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.header__menu_list {
  list-style-type: none;
  text-align: left;
  width: 100%;
}
.header__menu_list__item {
  margin: 20px 0 0;
}
.header__menu_list__item_close_btn {
  text-align: right;
}
.header__menu_list__item_title {
  margin: 0 0 24px;
}
.header__menu_list__close_btn {
  fill: #6f6e6e;
}
.header__menu_list__title {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  text-transform: uppercase;
}
.header__menu_list__title:hover {
  color: #ef5b70;
}
.header__menu_list__title:active {
  color: #000000;
}
.header__menu_title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}
.header__menu_sublist {
  list-style-type: none;
  margin: 12px 0 0;
}
.header__menu_sublist__item {
  margin: 0 0 11px 22px;
}
.header__menu_sublist__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  text-transform: none;
}
.header__menu_sublist__link:hover {
  color: #ef5b70;
}
.header__menu_sublist__link:active {
  color: #000000;
}
.header__profile_btn {
  text-decoration: none;
}
.header__basket_btn {
  position: relative;
  text-decoration: none;
}
.header__basket_btn__counter {
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  box-sizing: border-box;
  top: -8px;
  right: -10px;
  padding: 2px;
  border: 1px;
  border-radius: 50%;
  background-color: #f16d7f;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  text-transform: none;
  text-align: center;
}
.subscribe {
  min-height: 448px;
  background-image: url(../img/footer_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.subscribe__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 97px 0 0;
}
.subscribe__info {
  width: 100%;
  max-width: 360px;
  box-sizing: border-box;
  text-align: center;
}
.subscribe__info_img {
  margin: 0 0 26px;
}
.subscribe__info_txt {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  text-transform: none;
  text-align: center;
}
.subscribe__info_txt_italic {
  font-style: italic;
}
.subscribe__form {
  margin: 27px 0 0;
}
.subscribe__form_wrp {
  width: 100%;
  max-width: 356px;
  box-sizing: border-box;
  margin: 0 96px 0 0;
}
.subscribe__form_text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
  text-transform: uppercase;
  text-align: center;
}
.subscribe__form_header {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #222224;
  text-transform: uppercase;
  text-align: center;
}
.subscribe__form_email {
  width: 100%;
  max-width: 256px;
  min-height: 49px;
  box-sizing: border-box;
  padding: 10px 22px;
  background-color: #e1e1e1;
  border: none;
  border-radius: 24px 0 0 24px;
}
.subscribe__form_email::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  text-transform: none;
  opacity: 0.67;
}
.subscribe__form_email:focus-visible {
  outline: none;
  border: 1px solid #ff6a6a;
}
.subscribe__form_btn {
  width: 100%;
  max-width: 100px;
  min-height: 49px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-transform: none;
  margin: 0 0 0 -4px;
  padding: 10px 22px;
  border-radius: 0 24px 24px 0;
  border: none;
  background-color: #f16d7f;
}
.subscribe__form_btn:hover {
  background-color: #ffffff;
  color: #f16d7f;
  border: 1px solid #ff6a6a;
}
.subscribe__form_btn:active {
  background-color: #f16d7f;
  color: #ffffff;
}
.footer__bottom_part {
  background-color: #222224;
  width: auto;
  min-height: 79px;
  box-sizing: border-box;
  padding: 24px 0;
}
.footer__bottom_part_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__copirate_txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
  text-transform: none;
}
.footer__social_networks__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
}
.footer__social_networks__icon {
  margin: 0 7px 0 0;
}
.footer__social_networks__icon:last-child {
  margin: 0;
}
.footer__social_networks__link {
  text-decoration: none;
  display: block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  padding: 8px 0;
  text-align: center;
  fill: #000000;
  background-color: #ffffff;
}
.footer__social_networks__link:hover {
  background-color: #f16d7f;
  fill: #ffffff;
}
.footer__social_networks__link:active {
  background-color: #ffffff;
  fill: #f16d7f;
}
.breadcrumb {
  background-color: #f8f3f4;
}
.breadcrumb__container {
  min-height: 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.breadcrumb__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  text-transform: uppercase;
}
.breadcrumb__chain_list {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  list-style-type: none;
}
.breadcrumb__chain_list {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  list-style-type: none;
}
.breadcrumb__chain_list__item {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}
.breadcrumb__chain_list__item:after {
  margin: 0 4px;
  content: "/";
}
.breadcrumb__chain_list__item:last-child {
  font-weight: 700;
  color: #f16d7f;
}
.breadcrumb__chain_list__item:last-child:after {
  content: "";
}
.breadcrumb__chain_list__item_link {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}
.breadcrumb__chain_list__item_link:hover {
  color: #f16d7f;
}
.breadcrumb__chain_list__item_link:active {
  color: #000000;
}
.order__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
}
.cart__basket_list {
  margin: 96px 0 129px;
}
.cart__product_list {
  width: 100%;
  max-width: 652px;
  box-sizing: border-box;
}
.cart__product_list__card {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  width: 100%;
  max-width: 652px;
  box-sizing: border-box;
  max-height: 306px;
  margin: 0 0 40px;
  background-color: #ffffff;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
.cart__product_list__group_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  margin: 73px 0 0;
}
.cart__product_list__btn {
  padding: 16px 39px;
  border: 1px solid #a4a4a4;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background: #ffffff;
}
.cart__product_list__btn:hover {
  border: 1px solid #ef5b70;
  background-color: #f16d7f;
  color: #ffffff;
}
.cart__product_list__btn:active {
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #f16d7f;
}
.cart__img {
  height: 100%;
  max-height: 306px;
  box-sizing: border-box;
  background-size: cover;
}
.cart__notation {
  width: 100%;
  padding: 23px 20px 23px 31px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #656565;
  text-transform: none;
}
.cart__notation_title {
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  margin: 0 0 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
}
.cart__notation__close_btn {
  float: right;
  fill: #656565;
  width: 18px;
}
.cart__notation_label:hover .cart__notation__close_btn {
  fill: #f16d7f;
}
.cart__notation_label:hover .cart__notation__close_btn {
  fill: #ff6a6a;
}
.cart__subnotation_txt {
  margin: 0 0 6px;
}
.cart__subnotation_txt__price {
  color: #f26376;
}
.cart__subnotation_txt__value {
  color: #656565;
}
.cart__subnotation_input {
  width: 100%;
  max-width: 44px;
  box-sizing: border-box;
  margin: 0 0 0 26px;
  border: 1px solid #eaeaea;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  text-transform: none;
  text-align: center;
}
.cart__subnotation_input:focus-visible {
  border: 1px solid #ff6a6a;
  outline: none;
}
.cart__order_placement {
  width: 100%;
  max-width: 360px;
  box-sizing: border-box;
}
.cart__order_placement__title_form {
  margin: 18px 0 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
}
.cart__order_placement__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 17px 15px;
  margin: 0 0 20px;
  border: 1px solid #a4a4a4;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: none;
}
.cart__order_placement__input::placeholder {
  color: #b1b1b1;
}
.cart__order_placement__input:focus-visible {
  border: 1px solid #ff6a6a;
  outline: none;
}
.cart__order_placement__btn {
  padding: 10px 14px 11px;
  margin: 2px 0 0;
  border: 1px solid #a4a4a4;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #a4a4a4;
  text-transform: uppercase;
  background-color: transparent;
}
.cart__order_placement__btn:hover {
  border: 1px solid #ef5b70;
  background-color: #f16d7f;
  color: #ffffff;
}
.cart__order_placement__btn:active {
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #f16d7f;
}
.cart__confirmation_unit {
  width: 100%;
  max-width: 360px;
  box-sizing: border-box;
  padding: 38px 43px 42px;
  margin: 58px 0 0;
  background-color: #f5f3f3;
}
.cart__confirmation_unit__subtotal {
  margin: 0 0 12px;
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  text-transform: uppercase;
}
.cart__confirmation_unit__total {
  text-align: right;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
}
.cart__confirmation_unit__subtotal_price {
  margin: 0 0 0 15px;
}
.cart__confirmation_unit__total_price {
  margin: 0 0 0 17px;
  color: #f26376;
}
.cart__confirmation_unit__divider {
  margin: 21px 0 17px;
  border: 1px solid #e2e2e2;
}
.cart__confirmation_unit__btn {
  background: #f16d7f;
  width: 100%;
  padding: 15px 0 16px;
  border: none;
  box-sizing: border-box;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
}
.cart__confirmation_unit__btn:hover {
  background-color: #ffffff;
  color: #f16d7f;
  border: 1px solid #ff6a6a;
}
.cart__confirmation_unit__btn:active {
  background-color: #f16d7f;
  color: #ffffff;
}
#close-btn-product3,
#close-btn-product14,
#close-btn-product3:checked ~ .product_3,
#close-btn-product14:checked ~ .product_14 {
  display: none;
}
