* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  min-height: 75px;
  background-color: #222222;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}

.header__left_part,
.header__right_part {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.header__right_part {
  margin-right: 8px;
}

.header__logo_img {
  height: 38px;
}

.header__logo:hover .header__logo_img {
  height: 36px;
  width: 42px;
  padding: 1px;
}

.header__profile_btn,
.header__basket_btn {
  margin-left: 33px;
}

.header__search_icon,
.header__menu_icon,
.header__basket_icon,
.header__profile_icon {
  fill: #FFFFFF;
}

.header__search_icon:hover,
.header__menu_icon:hover,
.header__basket_icon:hover,
.header__profile_icon:hover {
  fill: #F16D7F;
}

.header__search_icon:active,
.header__menu_icon:active,
.header__basket_icon:active,
.header__profile_icon:active  {
  fill: #FFFFFF;
}

.header__search_form {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 41px;
}

.header__search_label {
  display: block;
}

.header__search_input {
  width: 0;
  min-height: 0;
  padding: 5px;
  margin-left: 24px;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-transform: capitalize;
  background-color: transparent;
  color: #FFFFFF;
}

.header__search_input:focus {
  width: 250px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #FFFFFF;
}

.header__search_input::-webkit-search-decoration,
.header__search_input::-webkit-search-cancel-button,
.header__search_input::-webkit-search-results-button,
.header__search_input::-webkit-search-results-decoration,
.header__search_input::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}

#header__menu_switch {
  display: none;
}

#header__menu_switch:checked ~ .header__menu_container {
  display: block;
}

.header__menu_container {
  display: none;
  position: absolute;
  justify-content: left;
  top: 76px;
  width: 100%;
  max-width: 232px;
  min-height: 764px;
  margin: 0 0 0 166px;
  padding: 16px 16px 16px 32px ;
  box-sizing: border-box;
  z-index: 999;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.header__menu_list {
  list-style-type: none;
  text-align: left;
  width: 100%;
}

.header__menu_list__item_close_btn {
  text-align: right;
}

.header__menu_list__close_btn {
  fill: #6F6E6E;
}

.header__menu_list__item_title {
  margin: 0 0 24px;
}

.header__menu_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.header__menu_sublist {
  list-style-type: none;
}

.header__menu_list__item {
  margin: 20px 0 0;
}

.header__menu_sublist {
  margin: 12px 0 0;
}

.header__menu_list__title {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.header__menu_list__title:hover {
  color: #EF5B70;
}

.header__menu_list__title:active {
  color: #000000;
}

.header__menu_sublist__item {
  margin: 0 0 11px 22px;
}

.header__menu_sublist__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.header__menu_sublist__link:hover {
  color: #EF5B70;
}

.header__menu_sublist__link:active {
  color: #000000;
}

.header__profile_btn,
.header__basket_btn {
  text-decoration: none;
}

.header__basket_btn {
  position: relative;
}

.header__basket_btn__counter {
  display: block;
  position: absolute;

  width: 19px;
  height: 19px;
  top: -8px;
  right: -10px;
  padding: 2px;

  border: 1px;
  border-radius: 50%;
  box-sizing: border-box;

  background-color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
}

.banner {
  background-color: #F1E4E6;
}

.banner-container {
  display: flex;
  min-height: 764px;
  background-image: url(../img/main-man.png);
  background-repeat: no-repeat;
  background-position-x: -220px;
  background-color: transparent;

}

.banner__text {
  position: relative;
  margin: auto 0 auto 662px;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  max-width: 377px;
  text-transform: uppercase;
}

.banner__text::before {
  position: absolute;
  width: 12px;
  height: 96px;
  left: -28px;
  background-color: #F16D7F;
  content: "";
}

.banner__text_small {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.banner__text_pink {
  color: #F16D7F;
}

.category {
  margin-top: 65px;
}

.category_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
}

.category_list__item {
  width: 100%;
  max-width: 360px;
  min-height: 260px;
  margin: 0 0 30px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(33, 22, 22);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.category_list__item_link {
  display: block;
  height: 100%;
  padding: 105px 0;
  box-sizing: border-box;
  text-decoration: none;
}

.category_list__item:last-child .category_list__item_link {
  padding: 65px 0;
}

.category_list__item_link:hover {
  padding: 104px 0;
  border: 1px solid #ff6a6a;
}

.category_list__item:last-child:hover .category_list__item_link {
  padding: 64px 0;
}

.category_woman {
  background-image: url(../img/category_women.png);
}

.category_man {
  background-image: url(../img/category_man.png);
}

.category_kids {
  background-image: url(../img/category_kids.png);
}

.category_accesories {
  max-width: 100%;
  min-height: 180px;
  margin: 0;
  background-image: url(../img/category_accesories.png);
}

.category_list__additional_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.category_list__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.product_list {
  margin-top: 96px;
}

.product_list__text {
  text-align: center;
}
.product_list__text_main {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;

  color: #222222;
}

.product_list__text_additional {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #9F9F9F;
}

.product_list__card_list {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.product_list__card {
  max-width: 360px;
  min-height: 581px;
  margin-bottom: 30px;
  background-color: #F8F8F8;
}

.product_list__card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.product_list__card_description {
  padding: 25px 29px 20px 18px;
}

.product_list__card_name {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.product_list__card_note {
  margin-top: 13px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product_list__card_price {
  margin-top: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product_list__btn {
  margin-top: 49px;
  display: flex;
  justify-content: center;
}

.product_list__btn_all_product {
  border: 1px solid #ff6a6a;
  padding: 14px 38px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  background: transparent;
  color: #F26376;
}

.product_list__btn_all_product:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.product_list__btn_all_product:active {
  background-color: #FFFFFF;
  color: #F16D7F;
}

.product_list__brand_card {
  position: relative;
}

.product_list__brand_card:hover .product_list__card_img {
  filter: brightness(33%);
}

.product_list__card_img_btn {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 38.3%;
  min-height: 43px;
  top: 188px;
  left: 32.7%;
  border: 1px solid #FFFFFF;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.product_list__card_img_icon {
  width: 26px;
  padding-right: 11px;
  fill: #FFFFFF;
}

.product_list__brand_card:hover
.product_list__card_img_btn {
  display: flex;
}

.product_list__brand_card:active
.product_list__card_img_icon {
  fill: #F16D7F;
}

.product_list__brand_card:active
.product_list__card_img_btn {
  display: flex;
  border: 1px solid #ff6a6a;
  color: #F16D7F;
}

.our_advantages {
  margin-top: 95px;
  background-color: #222224;
}

.our_advantages__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #222224;
  list-style-type: none;
}

.our_advantages__card {
  text-align: center;
  padding: 104px 0;
  max-width: 360px;
}

.our_advantages__text {
  margin-top: 28px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}

.our_advantages__text_description {
  margin-top: 16px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-weight: 300;
  color: #fbfbfb;
}

.subscribe {
  min-height: 448px;
  background-image: url(../img/footer_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.subscribe__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 97px;
}

.subscribe__info {
  width: 100%;
  max-width: 360px;
  text-align: center;
}

.subscribe__info_img {
  margin-bottom: 26px;
}

.subscribe__info_txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe__info_txt_italic {
  font-style: italic;
}

.subscribe__form {
  margin-top: 32px;
}

.subscribe__form_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.subscribe__form_header {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.subscribe__form_email {
  background-color: #E1E1E1;
  height: 49px;
  width: 256px;
  font-family: "Lato", sans-serif;
  border-radius: 24px 0 0 24px;
  border: none;
  padding: 10px 22px;
  box-sizing: border-box;
}

.subscribe__form_email::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.subscribe__form_email:focus-visible {
  outline: none;
  border: 1px solid #ff6a6a;
}

.subscribe__form_btn {
  background-color: #F16D7F;
  height: 49px;
  width: 100px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-radius: 0 24px 24px 0;
  border: none;
  padding: 10px 22px;
  box-sizing: border-box;
  color: #FFFFFF;
  margin-left: -4px;
}

.subscribe__form_btn:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #ff6a6a;
}

.subscribe__form_btn:active {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.footer__bottom_part {
  background-color: #222224;
  min-height: 79px;
  padding: 30px 0;
  box-sizing: border-box;
}

.footer__copirate_txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__bottom_part_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__social_networks__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.footer__social_networks__icon {
  margin-right: 7px;
}

.footer__social_networks__icon:last-child {
  margin-right: 0;
}

.footer__social_networks__link {
  text-decoration: none;
  display: block;
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  padding: 8px 0;
  text-align: center;
  box-sizing: border-box;
  fill: #000000;
}

.footer__social_networks__link:hover {
  background-color: #F16D7F;
  fill: #FFFFFF;
}

.footer__social_networks__link:active {
  background-color: #FFFFFF;
  fill: #F16D7F;
}

/* Страница каталога */
.breadcrumb {
  background-color: #F8F3F4;
}

.breadcrumb__container {
  min-height: 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.breadcrumb__chain_list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.breadcrumb__chain_list__item {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}

.breadcrumb__chain_list__item:after {
  margin: 0 4px;
  content: "/";
}

.breadcrumb__chain_list__item:last-child {
  font-style: normal;
  font-weight: 700;
  color: #F16D7F;
}

.breadcrumb__chain_list__item:last-child:after {
  content: "";
}

.breadcrumb__chain_list__item_link {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #636363;
}

.breadcrumb__chain_list__item_link:hover {
  color: #000000;
}

.breadcrumb__chain_list__item_link:active {
  color: #F16D7F;
}

.filters {
  margin-top: 51px;
}

.filters__menu {
  float: left;
}

#filters__menu_switch {
  display: none;
}

#filters__menu_switch:checked ~ .filters__menu_container .filters__menu_list {
  display: block;
}

#filters__menu_switch:checked ~ .filters__menu_container {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  margin: -13px 0 0;
  padding: 13px 16px 0;
}

.filters__menu_container {
  position: absolute;
  padding: 0 0 0 16px;
  width: 100%;
  max-width: 360px;
  box-sizing: border-box;
  background: #FFFFFF;
  z-index: 999;
}

.filters__menu_label {
  display: block;
  width: 100%;
  margin: 0 0 16px;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #000000;
  text-align: left;
}

.filters__menu_label:hover .filters__menu_label__link_txt {
  color: #F16D7F;
}

.filters__menu_label:hover .filters__menu_label__icon {
  fill: #F16D7F;
}

.filters__menu_label:active .filters__menu_label__link_txt {
  color: #000000;
}

.filters__menu_label:active .filters__menu_label__icon {
  fill: #000000;
}

.filters__menu_list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters__menu_list__header {
  display: block;
  width: 100%;
  margin: 0 0 18px 0;
  padding: 10px 16px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
}

.filters__menu_list__header::before {
  content: "";
  display: block;
  width: 5px;
  height: 37px;
  background-color: #EF5B70;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.filters__menu_sublist {
  display: none;
}

#sub-menu-category,
#sub-menu-brand,
#sub-menu-designer {
  display: none;
}

#sub-menu-category:checked ~ .filters__menu_sublist,
#sub-menu-brand:checked ~ .filters__menu_sublist,
#sub-menu-designer:checked ~ .filters__menu_sublist {
  display: block;
}

.filters__menu_list__header {
  text-transform: uppercase;
  color: #6F6E6E;
  text-decoration: none;
}

.filters__menu_list__item:hover::before {
  background-color: #EF5B70;
}

.filters__menu_list__item:hover .filters__menu_list__header {
  color: #EF5B70;
}

.filters__menu_list__item:active::before {
  background-color: #F16D7F;
}

.filters__menu_list__item:active .filters__menu_list__header {
  color: #F16D7F;
}

.filters__menu_sublist {
  margin: 24px 0 0;
  padding: 0 0 0 17px;
  box-sizing: border-box;
  list-style: none;
}

.filters__menu_sublist__item {
  margin: 0 0 11px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
}

.filters__menu_sublist__item:last-child {
  margin: 0 0 24px;
}

.filters__menu_sublist__link {
  color: #6F6E6E;
  text-decoration: none;
}

.filters__menu_sublist__link:hover {
  color: #EF5B70;
}
.filters__menu_sublist__link:active {
  color: #000;
}

.filters__menu_label__link_txt {
  display: inline;
  margin-right: 11px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.filters__switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.filters__switch_item {
  margin-right: 28px;
}

.filters__switch_item:last-child {
  margin-right: 0;
}

.filters__switch_label {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  fill: #6F6E6E;
  text-transform: uppercase;
}

.filters__switch_label:hover {
  color: #F16D7F;
  fill: #F16D7F;
}

.filters__switch_label:active {
  color: #000000;
  fill: #000000;
}

.filters__switch_icon {
  margin-left: 10px;
}

#filters__trend_switch,
#filters__size_switch,
#filters__price_switch {
  display: none;
}

#filters__size_switch:checked ~ .filters__switch_container {
  display: block;
}

.filters__switch_container {
  display: none;
  position: absolute;
  width: 79px;
  height: 103px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 10px;
  box-sizing: border-box;
  z-index: 999;
  margin: 6px 0 0 -14px;
}

.filters__switch_list {
  list-style-type: none;
}

.filters__swith_list__item {
  margin-bottom: 5px;
}

.filters__swith_list__item:last-child {
  margin-bottom: 0;
}

.filters__swith_list__item_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  text-transform: uppercase;
  margin: 0 0 0 9.5px;
}

.products_catalog {
  margin-top: 65px;
}

.pagination {
  margin-top: 48px;
}

.pagination__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 11px 16px;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  width: 100%;
  max-width: 284px;
  list-style: none;
}

.pagination__item:nth-last-child(3) {
  margin: 0 -18px;
}

.pagination__item_link {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #EBEBEB;
}

.pagination__item_link:hover {
  color: #F16D7F;
  fill: #F16D7F;
}

.pagination__item_link:active {
  color: #000000;
  fill: #000000;
}

.target {
  color: #EF5B70;
}

/* Страница продукта */

.product_introduction__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #EAEAEA;
  background-color: #F7F7F7;
}

.product_introduction__img {
  margin: 11px auto 42px;
}

.product_introduction__link {
  margin: auto 0;
}

.product_introduction__link:hover .product_introduction__link_icon {
  fill: #F16D7F;
}

.product_introduction__link:active .product_introduction__link_icon {
  fill: #000000;
}

.product_introduction__link_icon {
  width: 47px;
  height: 47px;
  padding: 13px 17px;

  box-sizing: border-box;
  background-color: rgba(42, 42, 42, 0.15);
}

.product_description {
  position: relative;
  width: 100%;
  max-width: 1140px;
  min-height: 600px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  margin: -67px auto 0;
}

.product_description__container {
  width: 100%;
  max-width: 641px;
  margin: 64px auto;
  text-align: center;
}

.product_description__title {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #F16D7F;
}

.product_description__title::after {
  position: absolute;
  width: 63px;
  height: 3px;
  top: 28px;
  background-color: #EF5B70;
  content: "";
}

.product_description__sub_title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
}

.product_description__sub_title {
  margin-top: 28px;
}

.product_description__note {
  width: 100%;
  max-width: 554px;
  margin: 48px auto 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.product_description__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-top: 32px;
}

.product_description__divide {
  margin: 65px 0;
  border: 1px solid #EAEAEA;
}

.filters__switch_item__small {
  margin-right: 23px;
}

.filters__switch_item__small:last-child {
  margin-right: 0;
}

#filters__color_switch,
#filters__size_switch,
#filters__quantity_switch {
  display: none;
}

.product_list__btn_add {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 212px;
  box-sizing: border-box;
  border: 1px solid #ff6a6a;
  padding: 11px 23px;
  margin: 49px auto 0;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: transparent;
  color: #F26376;
  fill: #F26376;
}

.product_list__btn_add:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.product_list__btn_add:active {
  background-color: #FFFFFF;
  color: #F16D7F;
  fill: #F16D7F;
}

.product_list__btn_add__icon {
  height: 24px;
  margin-right: 23px;
}

.recommended_products {
  padding: 129px 0;
}

.recommended_products
.product_list__card_list {
  margin-top: 0;
}

/* Страница корзины */
.order__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart__basket_list {
  margin: 96px 0 129px;
}

.cart__product_list {
  width: 100%;
  max-width: 652px;
}

.cart__product_list__card {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 652px;
  max-height: 306px;
  margin: 0 0 40px;
  background-color: #FFFFFF;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.card__img {
  height: 100%;
  max-height: 306px;
  background-size: cover;
}

.cart__notation_title {
  max-width: 200px;
  margin: 0 0 42px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
}

.cart__notation {
  width: 100%;
  padding: 23px 20px 23px 31px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart__notation__close_btn {
  float: right;
  fill: #575757;
  width: 18px;
}

.cart__subnotation_txt {
  margin-bottom: 6px;
}

.cart__subnotation_txt__price {
  color: #F26376;
}

.cart__subnotation_txt__value {
  color: #656565;
}

.cart__subnotation_input {
  max-width: 44px;
  margin: 0 0 0 26px;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  text-align: center;
}

.cart__order_placement {
  width: 100%;
  max-width: 360px;
}

.cart__order_placement__title_form {
  margin: 18px 0 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
}

.cart__order_placement__input {
  display: block;
  width: 100%;
  padding: 12px 17px 15px;
  margin: 0 0 20px;
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart__product_list__group_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 73px 0 0;
}

.cart__product_list__btn {
  padding: 16px 39px;
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  background: #FFFFFF;
}

.cart__order_placement__btn {
  padding: 10px 14px 11px;
  margin: 2px 0 0;
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
  background-color: transparent;
}

.cart__confirmation_unit {
  width: 100%;
  max-width: 360px;
  padding: 38px 43px 42px;
  margin: 58px 0 0;
  box-sizing: border-box;
  background-color: #F5F3F3;
}

.cart__confirmation_unit__subtotal {
  margin: 0 0 12px;
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
}

.cart__confirmation_unit__total {
  text-align: right;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
}

.cart__confirmation_unit__subtotal_price {
  margin: 0 0 0 15px;
}

.cart__confirmation_unit__total_price {
  margin: 0 0 0 17px;
  color: #F26376;
}

.cart__confirmation_unit__divider {
  margin: 21px 0 17px;
}

.cart__confirmation_unit__btn {
  background: #F16D7F;
  width: 100%;
  padding: 15px 0 16px;
  border: none;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}