@import "variables.less";
@import "mixins.less";
@import "main.less";
@import "cards.less";
@import "filters.less";
@import "our_advantages.less";
@import "breadcrumb.less";

.products_catalog {
    margin-top: 65px;
}

.pagination {
    margin-top: 48px;

    &__list {
        .flex_base(@justify_content:space-between);
        .limited_size(284px);
        margin: 0 auto;
        padding: 11px 16px;
        border: @border_light_gray;
        list-style: none;
    }

    &__item {
        &:nth-last-child(3) {
            margin: 0 -18px;
        }

        &_link {
            text-decoration: none;
            .text_base(
                @font_weight: 300,
                @font_size: 16px,
                @line_height: 19px,
                @color: @text_light_gray
            );

            .object_effects_with_svg(@color_pink, @color_black);
        }

        .target {
            color: @color_dark_pink;
        }
    }
}


