@import "_variables.less";
@import "_mixins.less";
@import "_main.less";
@import "_cards.less";
@import "_our_advantages.less";

.banner {
    background-color: @background_pink;

    &__container {
        .flex_base();
        min-height: 764px;
        background-image: url(../img/main-man.png);
        background-repeat: no-repeat;
        background-position-x: -220px;
        background-color: transparent;
    }

    &__text {
        position: relative;
        margin: auto 0 auto 662px;
        .limited_size(@max_width: 377px);
        .text_base(
            @font_weight: 900,
            @font_size: 48px,
            @line_height: 58px,
            @color: @color_light_black,
            @text_transform: uppercase
        );

        &::before {
            position: absolute;
            left: -28px;
            .strict_size (12px, 96px);
            background-color: @color_pink;
            content: "";
        }

        &_small {
            display: block;
            .text_base(400, 32px, 38px, inherit, uppercase);
        }

        &_pink {
            color: @color_pink;
        }
    }
}

.category {
    margin: 65px 0 0;

    &_list {
        .flex_base(
            @justify_content: space-between
        );
        width: 100%;
        flex-wrap: wrap;
        list-style-type: none;

        &__item {
            .limited_size(360px, 260px);
            margin: 0 0 30px;
            text-align: center;
            background-color: @color_rgb_black;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            &_link {
                display: block;
                height: 100%;
                padding: 105px 0;
                box-sizing: border-box;
                text-decoration: none;

                &:hover {
                    padding: 104px 0;
                    border: @border_orange_pink;
                }
            }

            &:last-child {
                .category_list__item_link {
                    padding: 65px 0;
                }

                &:hover {
                    .category_list__item_link {
                        padding: 64px 0;
                    }
                }
            }
        }
    }

    &_woman {
        background-image: url(../img/category_women.png);
    }

    &_man {
        background-image: url(../img/category_man.png);
    }

    &_kids {
        background-image: url(../img/category_kids.png);
    }

    &_accesories {
        .limited_size(@max_width_content, 180px);
        margin: 0;
        background-image: url(../img/category_accesories.png);
    }

    &_list {
        &__additional_text {
            .text_base(
                @font_size: 16px,
                @line_height: 19px,
                @color: @color_white,
                @text_transform: uppercase
            );
        }

        &__text {
            .text_base(700, 24px, 29px, @color_pink, uppercase);
        }
    }
}


