.banner {
    background-color: @background_pink;

    &__container {
        .flex_base();
        min-height: 764px;
        background-image: url(../img/main-man.png);
        background-repeat: no-repeat;
        background-position-x: -220px;
        background-size: contain;
        background-color: transparent;
    }

    &__text {
        position: relative;
        margin: auto 0 auto 662px;
        .limited_size(@max_width: 377px);
        .text_base(900, 48px, 58px, @color_light_black, uppercase);

        &::before {
            position: absolute;
            left: -28px;
            .strict_size (12px, 58px);
            background-color: @color_pink;
            content: "";

            animation: smooth_show_element 1s .5s forwards;
        }

        &_small {
            display: block;
            .text_base(400, 32px, 38px, inherit, uppercase);

            opacity: 0;
            animation: smooth_show_text 1s .5s forwards;
        }

        &_pink {
            color: @color_pink;
        }
    }
}

@media (min-width: 768px) and (max-width: 1223px) {
    .banner {
        &__container {
            min-height: 368px;
            background-position-x: -16px;
        }

        &__text {
            margin: auto 0 auto 437px;
            font-size: 44px;
            line-height: 53px;

            &::before {
                animation: smooth_show_element_for_tablet 1s .5s forwards;
            }

            &_small {
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}


@media (min-width: 375px) and (max-width: 767px) {
    .banner {
        &__container {
            align-items: center;
            min-height: 363px;
            background-image: none;
        }

        &__text {
            margin: 0;
            padding: 18px 0 0 68px;
            font-size: 38px;
            line-height: 45px;

            &::before {
                left: 40px;
                animation: smooth_show_element_for_phone 1s .5s forwards;
            }

            &_small {
                font-size: 20px;
                line-height: 24px;
            }
        }

    }
}