.category {
    margin: 65px 0 0;

    &_list {
        .flex_base(
            @justify_content: space-between
        );
        width: 100%;
        flex-wrap: wrap;
        list-style-type: none;

        &__item {
            .limited_size(360px, 260px);
            margin: 0 0 30px;
            text-align: center;
            background-color: @color_rgb_black;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            &_link {
                display: block;
                height: 100%;
                padding: 105px 0;
                box-sizing: border-box;
                text-decoration: none;

                &:hover {
                    padding: 104px 0;
                    border: @border_orange_pink;
                }
            }

            &:last-child {
                .category_list__item_link {
                    padding: 65px 0;
                }

                &:hover {
                    .category_list__item_link {
                        padding: 64px 0;
                    }
                }
            }
        }
    }

    &_woman {
        background-image: url(../img/category_women.png);
    }

    &_man {
        background-image: url(../img/category_man.png);
    }

    &_kids {
        background-image: url(../img/category_kids.png);
    }

    &_accesories {
        .limited_size(@max_width_content, 180px);
        margin: 0;
        background-image: url(../img/category_accesories.png);
    }

    &_list {
        &__additional_text {
            .text_base(
                @font_size: 16px,
                @line_height: 19px,
                @color: @color_white,
                @text_transform: uppercase
            );
        }

        &__text {
            .text_base(700, 24px, 29px, @color_pink, uppercase);
        }
    }
}

@media (min-width: 768px) and (max-width: 1223px) {
    .category {
        margin: 20px 0 0;

        &_list {
            &__item {
                .limited_size(232px, 167px);
                margin: 0 0 20px;

                &_link {
                    padding: 58px 0;

                    &:hover {
                        padding: 57px 0;
                    }
                }

                &:last-child {
                    .category_list__item_link {
                        padding: 32px 0;
                    }

                    &:hover {
                        .category_list__item_link {
                            padding: 31px 0;
                        }
                    }
                }
            }
        }

        &_accesories {
            .limited_size(736px, 116px);
            margin: 0;
        }

    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .category {
        &_list {
            &__item {
                .limited_size(343px, 247px);
                margin: 0 0 32px;

                &_link {
                    padding: 98px 0;

                    &:hover {
                        padding: 97px 0;
                    }
                }

                &:last-child {
                    .category_list__item_link {
                        padding: 32px 0;
                    }

                    &:hover {
                        .category_list__item_link {
                            padding: 31px 0;
                        }
                    }
                }
            }
        }

        &_accesories {
            .limited_size(343px, 111px);
            margin: 0;
        }
    }
}